exercises/p1_c4_exercise1_solution.yml
id: exercise1_solution
namespace: open_class_room.kestra

tasks:

  # 1. Download data
  # A csv file containing salaries for several data jobs can be found at https://raw.githubusercontent.com/kestra-io/datasets/main/csv/salaries.csv
  # Use the `http.Download` task type. See how the auto-completion work when you start typing htt... (you can enable auto-completion with CTRL+SPACE)
  - id: download
    type: io.kestra.plugin.core.http.Download
    uri: https://raw.githubusercontent.com/kestra-io/datasets/main/csv/salaries.csv

  # 2. Check if the http status code is successful or not (code 200)
  # Using the `io.kestra.plugin.core.flow.If` task, check if the previous request ended successfully with a code == 200.
  # Log two different messages upon condition.
  # Tips: 
  # - Each task expose outputs, you can access these ouptputs using Pebble syntax: '{{ outputs.task_name.exposed_value }}'
  # - Focus on a task and use the "Source & documentation" view to see the different examples and outputs exposed by a task.
  - id: check_code
    type: io.kestra.plugin.core.flow.If
    condition: '{{ outputs.download.code }}'
    then:
      - id: log_success
        type: io.kestra.plugin.core.log.Log
        message: "Success"

    else:
      - id: log_error
        type: io.kestra.plugin.core.log.Log
        message: "Error"